*{
	padding:0;margin:0;
}
ul,li{
	list-style: none;
}
a{
	text-decoration:none;
	color:#ccc;
}
html,body{
	width:100%;
	height:100%;
	overflow-x:hidden;
	-webkit-overflow-x: hidden;
}
img{
	display: block;
	border:0;
}
.wrap{
	width:100%;height:100%;

/*	overflow:hidden;*/
	background:url("../img/bj.jpg")center top no-repeat;
	background-size:auto 100%;
	/*position:fixed;*/
	z-index:-1;

}
.door{
	width:100%;height:100%;
	position:absolute;top:0;
	overflow-x:hidden;
	-webkit-overflow-x: hidden;
}
.door img{
	display:none;
	height:100%;
	border:0;
	left:50%;
}
.door_top{
	position: absolute;
	background:#00a0e9;
	width:50%;
	height:100%;
	z-index:999;
	transform: translate3d(0,0,0);
	transform: translateX();
}
.door_top p{
	text-align:right;
	position:absolute;
	top:50%;
	margin-top: -50px;
	right:0px;
	font-weight:bold;
	color:white;
	font-size:25px;
}

.door_bottom{
	position: absolute;
	background:#00a0e9;
	width:50%;
	height:100%;
	transform: translate3d(0,0,0);
	z-index:999;
	transform: translateX(100%);

}
.door_bottom p{
	margin-top: -50px;
	font-weight:bold;
	color:white;
	font-size:25px;
	position:absolute;
	top:50%;
	left:0px;
	text-align:center;
}
.content{
	width:100%;
	padding:1.4688rem;
	box-sizing:border-box;
	position:absolute;
	background: rgba(68,185,255,0.5);
	visibility: hidden;

}
.move_top{
	-webkit-transform:transition3d(0,0,0);
	animation:move_t 1s 1s linear forwards;
}
.move_bottom{
	-webkit-transform:transition3d(0,0,0);
    animation:move_b 1s 1s linear forwards;
}
@-webkit-keyframes move_t{
	0% { transform: translateX(0);}
	100% {transform: translateX(-100%);}
}
@-webkit-keyframes move_b{
	0% { transform: translateX(100%);}
	100% {transform: translateX(200%);}
}
@keyframes move_t{
	0% { transform: translateX(0);}
	100% {transform: translateX(-100%);}
}
@keyframes move_b{
	0% { transform: translateX(100%);}
	100% {transform: translateX(200%);}
}
/*圆圈旋转*/
.xz1{
	width:4.125rem;
	position:relative;
	top:0;left:0;
}
.resume{
	position:absolute;
	left:120%;
	top:50%;
	margin-top:1rem;
	line-height:2.0rem;
	font-size:2.0rem;
	width:200%;
}
.underline{
	background:#00a0e9;
	position:absolute;
	width:250%;
	height:3px;
	top:4rem;
	left:50%;
	animation:underlin 2s linear infinite;
}
@keyframes underlin{
	0% {width:250%;}
	25% {width:300%;}
	50% {width:250%;}
	75% {width:200%;}
	100% {width:250%;}
}
.xz1 img{
	width:100%;
	position:absolute;top:0;
}
.quan1{
	animation:quan 1.5s ease infinite;
}
.quan3{
	animation:quan 2s ease infinite;
}
.quan2{
	animation:quan_t 1.8s ease infinite;
}
@keyframes quan{
	0% {transform:rotate(0deg)}
	33% {transform:rotate(60deg)}
	66% {transform:rotate(300deg)}
	100% {transform:rotate(360deg)}
}
@keyframes quan_t{
	0% {transform:rotate(360deg)}
	33% {transform:rotate(280deg)}
	66% {transform:rotate(100deg)}
	100% {transform:rotate(0deg)}
}

/*条状统计图*/
.strip{
	width:100%;height:12.5rem;
	bottom:0.2604rem;right:0.1562rem;
	margin:0.3125rem auto 0.3125rem auto;

	/*vertical-align:bottom;*/
}
.strip ul{
	width:100%;height:100%;
	display: flex;
	align-items:flex-end;
	justify-content: flex-start;
}
.strip li{
	background:#00a0e9;
	width:7%;height:75%;
	margin-left:3%;

}
.strip .strip_li:nth-of-type(1){
	animation:strip 2s -0.5s linear infinite;
}
.strip .strip_li:nth-of-type(2){
	animation:strip_t 2s -1s linear infinite;
}
.strip .strip_li:nth-of-type(3){
	animation:strip 2s -1s linear infinite;
}
.strip .strip_li:nth-of-type(4){
	animation:strip_t 2.3s -0.5s linear infinite;
}
.strip .strip_li:nth-of-type(5){
	animation:strip 2s -0.3s linear infinite;
}
.strip .strip_li:nth-of-type(6){
	animation:strip_t 2.2s linear infinite;
}
.strip .strip_li:nth-of-type(7){
	animation:strip 2s -0.5s linear infinite;
}
.strip .strip_li:nth-of-type(8){
	animation:strip_t 2.5s linear infinite;
}
.strip .strip_li:nth-of-type(9){
	animation:strip 1.9s -1s linear infinite;
}
.strip .strip_li:nth-of-type(10){
	animation:strip_t 1.8s -0.5s linear infinite;
}
@keyframes strip{
	0% {height:100px;}
	25% {height:50px;}
	50% {height:100px;}
	75% {height:150px;}
	100% {height:100px;}
}
@keyframes strip_t{
	0% {height:100px;}
	25% {height:150px;}
	50% {height:100px;}
	75% {height:50px;}
	100% {height:100px;}
}

/*内容*/
.text_ul{
	height:10rem;
	width:100%;
	margin-top:4.5rem;
}
.swiper-slide .text_ul b{
	padding:3px 0 3px 35px;
	box-sizing: border-box;
	background: url("../img/text.png")bottom center no-repeat;
	 background-size:100% 100%;
	 line-height:0.7812rem;
}
.swiper-slide span{
	line-height:0.7812rem;
}
.text_ul li{
	background: rgba(255,255,255,0.5);
	width:100%;
	margin-bottom:0.7812rem;
	padding:0.7812rem;
	border-radius:5px;
	box-sizing:border-box;
}

/*专业技能*/
.major{
	height:6rem;
	width:100%;
	border-radius:5px;
	background:rgba(255,255,255,0.3);
	padding:20px;
	box-sizing: border-box;
}
.major div{
	width:100%;
}
.major b,.major p{
	width:100%;
	padding:0 0.7812rem;
	box-sizing: border-box;
}
.major p{
	margin-top: 20px;
	line-height: 20px;
	background:rgba(250,250,250,0.6);
	border-radius:5px;
}
.evaluate{
	height:5rem;
	width:100%;
	border-radius:5px;
	background:rgba(255,255,255,0.3);
	padding:20px;
	box-sizing: border-box;
}
.evaluate p{
	width:100%;
	margin-top: 20px;
	padding:5px 5px;
	line-height: 20px;
	background:rgba(250,250,250,0.6);
	border-radius:5px;
	box-sizing: border-box;
}
.evaluate b,.evaluate p{
	margin-top:8px;
}
.evaluate b{
	width:100%;
}
.evaluate div{
	width:100%;
}
.aleft,.aright{
	visibility: hidden;
}
